<p>Hey {{ fullname }},</p>
<p>Here is your final document with signatures! Thank you for using our service!</p>
<p>
    <a href="{{ signedDocumentUrl }}">View signed document</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>